body {
    box-sizing: border-box;
    background-color: #f5ebc4;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
ul,
ol {
    list-style-type: none;
    text-align: left;
}

.menucard {
    display: inline-block;
    background-color: rgba(164, 82, 246, 0.2);
    width: 250px;
    height: 200px;
    border-radius: 25px;
    margin-left: 5px;
}
img {
    display: block;
    margin: 30px auto 15px auto;
}
div a {
    display: block;
    text-align: center;
    color: green;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
.ingredients,
.steps {
    display: inline-block;
    background-color: rgba(0, 47, 255, 0.5);
    height: auto;
    width: auto;
    padding-right: 30px;
}
.steps {
    width: 400px;
}
.button {
    display: block;
    margin-top: 25px;
}